# **1. List (Basic & Intermediate) Question**

In [ ]:
# Q1 (Basic): Create a list of 10 numbers and print all elements using a loop.

Num = [1,2,3,4,5,6,7,8,9,10]
for i in Num :
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Q2 (Basic): Find the largest and smallest element in a list without using built-in functions.

num = [1,5,9,8,3,4]
print("smallest number : " ,min(num))
print("largest number : " , max(num))

smallest number :  1
largest number :  9

In [ ]:
num = [1,5,9,8,3,4]
x = max(num)
y = min(num)
print ("largest number : " , x)
print ("smallest number : " , y)

largest number :  9
smallest number :  1

In [ ]:
#  Q3 (Basic): Write a program to remove duplicates from a list.
num = [4,4,5,9,5,3,1,5,4]
x = list(set(num))
print(x)

[1, 3, 4, 5, 9]

In [ ]:
# Q4 (Basic): Reverse a list using in-bild function.
num = [1,9,6,3,5]
num.reverse()
print(num)

[5, 3, 6, 9, 1]

In [ ]:
# Q4 (Basic): Reverse a list using slicing.

num = [1,2,6,8,3,1]
x = num[::-1] # [::-1]---- slicing
print(x)

[1, 3, 8, 6, 2, 1]

In [ ]:
# Q5 (Basic): Sort a list in ascending and descending order  using sort().
num = [2,5,9,6,7,1]
num.sort(reverse=True)
num

[9, 7, 6, 5, 2, 1]

In [ ]:
# Q6 (Intermediate): Find the second largest number in a list.

num = [1,2,3,5,9,8]
x = max(num)
num.remove(x)
y = max(num)
print(y)

8

In [ ]:
 # Q7 (Intermediate): Write a function to rotate a list to the right by k places.

In [ ]:
 # Q8 (Intermediate): Merge two sorted lists into a single sorted list.
first_list = [1,5,9,"afjal" ,"ashraf"]
secound_list = ["faishal" , 7,8,6]
y = first_list + secound_list
print(y)

[1, 5, 9, 'afjal', 'ashraf', 'faishal', 7, 8, 6]

In [ ]:
# Q9 (Intermediate): Find the common elements between two lists.
x = [1,2,3,4,5,6]
y = [1,6,8,7,9]
common_elements = set(x).intersection(y)
print(common_elements)

{1, 6}

In [ ]:
 # Q10 (Intermediate): Write a program to count the frequency of each element in a list.

list = [1,2,3,1,2,3,4,5,6]
frequency = {}

for i in list:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1

print(frequency)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1, 6: 1}

In [ ]:
list = [0,5,5,6,3,3,8,9,4]
freq = {}
for i in list:
  if i in freq:
    freq[i]+=1
  else:
    freq[i] = 1

print(freq)

{0: 1, 5: 2, 6: 1, 3: 2, 8: 1, 9: 1, 4: 1}

# **2. Tuple (Basic & Intermediate) Question**

In [ ]:
# ✅ Q1 (Basic): Create a tuple with 5 elements and access elements using indexing.

tup = (1,"afjal",'z','iit-p',6)
print(tup[1])
print(tup[3])

afjal
iit-p

In [ ]:
# ✅ Q2 (Basic): Convert a tuple into a list and vice versa.
# Define a tuple
my_tuple = (10, 20, 30, 40, 50)

# Convert tuple to list
my_list = list(my_tuple)

# Print the result
print(f"Tuple: {my_tuple}")
print(f"Converted List: {my_list}")

Tuple: (10, 20, 30, 40, 50)
Converted List: [10, 20, 30, 40, 50]

In [ ]:
#  ✅ Q3 (Basic): Write a program to check if an element exists in a tuple.

My_tuple = ('afjal' , 'ashraf','khan','mohd')
element = input("Enter a element : ").lower()
if element in My_tuple:
  print(f'Element are exist :  {element}')
else:
  print(f'Element dose not exist : {element}')

Enter a element : bhai
Element dose not exist : bhai

In [ ]:
My_tuple = (1,2,3,4,5,6,75,100)
element = input("Enter a element : ")
if element in My_tuple:
  print(f'Element are exist :  {element}')
else:
  print(f'Element dose not exist : {element}')

Enter a element : 75
Element dose not exist : 75

In [ ]:
# ✅ Q4 (Basic): Find the index of an element in a tuple.

# Define a tuple
My_tuple = (1,2,3,4,5,6,75,100)

# Element to find
x = int(input("Enter a element : "))

# Find the index of the element
x1 = My_tuple.index(x)

if x in My_tuple:
  # Print the index
  print(f'index = {x1} of an element = {x} ')

Enter a element : 100
index = 7 of an element = 100

In [ ]:
#  ✅ Q5 (Basic): Write a function that returns the sum of all numbers in a tuple.
my_tuple = (10,20,60,10)
sum_all_num = 0
def sum_allnum (sum_all_num):
  for sum in my_tuple:
    sum_all_num+=sum
  print (sum_all_num)

sum_allnum(sum_all_num)

100

In [ ]:
# ✅ Q6 (Intermediate): Find the largest and smallest elements in a tuple.
my_tuple = (10, 20, 60, 10, 5, 100)

def find_min_max (my_tuple):
  smallest = my_tuple[0]
  largest= my_tuple[0]
  for num in my_tuple:
   if num < smallest :
    smallest = num
   if num > largest:
    largest = num
  return smallest,largest
smallest,largest = find_min_max (my_tuple)
print("Smallest element:", smallest)
print("Largest element:", largest)

Smallest element: 5
Largest element: 100

In [ ]:
# ✅ Q7 (Intermediate): Count the occurrences of a given element in a tuple.

# Define a tuple with duplicate elements
my_tuple = (10, "afjal" , 10 , 100,'khan','afjal',"afjal" , 10)



def count_occurrences(my_tuple,element):
   return my_tuple.count(element)  # Using .count() method

# Example elements to check
element1 = 10
element2 = "afjal"
element3 = "orange"

# Check and print results
print(f"Occurrences of '{element1}': {count_occurrences(my_tuple, element1)}")
print(f"Occurrences of '{element2}': {count_occurrences(my_tuple, element2)}")
print(f"Occurrences of '{element3}': {count_occurrences(my_tuple, element3)}")

Occurrences of '10': 3
Occurrences of 'afjal': 3
Occurrences of 'orange': 0

In [ ]:
# Define a tuple
my_tuple = (10, 20, 30, 10, 40, 10, 50)

# Element to count
element = 10



# Count the occurrences of the element
occurrences = my_tuple.count(element)

# Print the result
print(f"The element {element1} occurs {occurrences} times in the tuple.")

The element 10 occurs 3 times in the tuple.

# **3. Set (Basic & Intermediate) Question**

In [ ]:
from pickle import APPEND
 # Q21 (Basic): Create a set with 5 elements and add a new element to it.

element = {"Afjal" , 5 , 0 , 6 , "khan"}
element.add("Ashraf")

In [ ]:
element

{0, 5, 6, 'Afjal', 'Ashraf', 'khan'}

In [ ]:
# ✅ Q22 (Basic): Write a program to remove an element from a set.

element = {"Afjal" , 5 , 0 , 6 , "khan"}
element.remove(6)
element

{0, 5, 'Afjal', 'khan'}

In [ ]:
# ✅ Q23 (Basic): Find the union, intersection, and difference of two sets.
Set1 = {"Afjal" , 5 , 0 , 6 , "khan"}
Set2 = {'Ashraf','Afjal',5 , 7 , 'mohd'}
x = Set1.union(Set2)
y = Set1.intersection(Set2)
z = Set1.difference(Set2)
w = Set2.difference(Set1)
print(f'Union set1 to set2 : {x}')
print(f'intersection set1 to set2 : {y}')
print(f'difference set1 to set2 : {z}')
print(f'difference set2 to set1 : {w}')

Union set1 to set2 : {0, 'Ashraf', 5, 6, 7, 'mohd', 'Afjal', 'khan'}
intersection set1 to set2 : {'Afjal', 5}
difference set1 to set2 : {0, 'khan', 6}
difference set2 to set1 : {'mohd', 'Ashraf', 7}

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Perform set operations
union_set = set1 | set2  # Union (all unique elements)
intersection_set = set1 & set2  # Intersection (common elements)
difference_set = set1 - set2  # Difference (elements in set1 but not in set2)

# Print results
print(f"Union: {union_set}")
print(f"Intersection: {intersection_set}")
print(f"Difference (set1 - set2): {difference_set}")

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

In [ ]:
# ✅ Q24 (Basic): Check if a set is a subset of another set.

Set = {1, 2, 3, 4, 5}
x1 = {2,4}

Subset = Set & x1

print(f'Subset.True ---> {Subset}')

Subset.True ---> {2, 4}

In [ ]:
# ✅ Q24 (Basic): Check if a set is a subset of another set.


def is_subset(Set1,Set2):


  return Set2.issubset(Set1)

# Example usage:
Set2 = {1,2,3}
Set1 = {1, 2, 3, 4, 5}
Set3 = {1, 2, 6}


print(f'Is {Set2} a subset of {Set1} ? {is_subset(Set1,Set2)}') #  Output: True
print(f"Is {Set3} a subset of {Set1} ? {is_subset(Set3, Set1)}")  # Output: False

Is {1, 2, 3} a subset of {1, 2, 3, 4, 5} ? True
Is {1, 2, 6} a subset of {1, 2, 3, 4, 5} ? False

In [ ]:
 # ✅ Q25 (Basic): Convert a list into a set and remove duplicates.

My_list = [1,5,7,"Afjal","Khan","Afjal",1,7]
My_set = set(My_list)
My_set

{1, 5, 7, 'Afjal', 'Khan'}

In [ ]:
# ✅ Q26 (Intermediate): Write a program to find common elements between three sets.

My_Set1 = {1,5,7,"Afjal","Khan",7}
My_Set2 = {1, 2, 3, 4,"Khan" ,  5 , "Afjal"}
My_Set3 = {1,"Khan"}

common_elements = My_Set1 & My_Set2 & My_Set3

print(common_elements)

{1, 'Khan'}

In [69]:
# ✅ Q30 (Intermediate): Convert a set of strings into a single concatenated string.

My_Set = {'1' , 'hellow ', '3', '4',"Khan" , 'pwskill' , "Afjal"}

Convert_str = " , ".join(My_Set)
print(Convert_str)

pwskill , Khan , 3 , 4 , Afjal , hellow  , 1

1. for Loop Questions
# *For Loop*

In [81]:
# ✅ Q1: Print all prime numbers between 1 and 100 using a for loop.

for i in range(1,11):
  print(i , end = " , ")

1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 ,

In [85]:
# ✅ Q2: Print the square of numbers from 1 to 5 using a for loop.

for i in range(1,6):
   x = i**2
   print(f'{x} <-- is square of --> {i}')

1 <-- is square of --> 1
4 <-- is square of --> 2
9 <-- is square of --> 3
16 <-- is square of --> 4
25 <-- is square of --> 5

In [87]:
# ✅ Q3: Write a for loop to iterate through a list and print each element.

my_list = [1,'afjal',5,'khan']

for i in my_list:
  print(i)

1
afjal
5
khan

In [99]:
# ✅ Q4: Reverse a string using a for loop.

my_str = "MohdAfjalkhan"
reverse_str = my_str[::-1]
print(reverse_str)

nahklajfAdhoM

In [102]:
my_str = "MohdAfjalkhan"

for i in range(len(my_str)-1,-1,-1):
    x = my_str[i]
    print(x,end='')

nahklajfAdhoM

In [104]:
# ✅ Q5: Find the sum of the first n natural numbers using a for loop.

n = int(input("Enter a number : "))
sum_natural_num = 0
for i in range(1,n+1):
  sum_natural_num+=i

print(sum_natural_num)

Enter a number : 5
15

# **2. while Loop Questions**